.section {
    background-size: cover;
}

div#section0 {
    background-image: url("../static/cover.jpg");
}

div#background_text {
    transition: all 0.8s ease;
    background-color: rgba(254,254,254,0.5);
    padding-top: 0.2rem;
    padding-bottom: 1.5rem;
    min-height: 10rem;
    cursor: default;
}

div#background_text:hover {
    background-color: rgba(254,254,254,0.85);
}

div#section0 h1, div#section0 h4 {
    color: black;
    text-align: center;
}

div.section div.slide h1,  div.section div.slide h2, div.section div.slide h3, div.section div.slide h4, div.section div.slide h5, div.section div.slide h6, div.section div.slide ui, div.section div.slide li{
    /*margin-left: 75px;*/
}

div#section1 {
    background-image: url("../static/codeIgniter.jpg")
}

div#section1 * {
    color: #fff;
    cursor: default;
}

div#section1 li {
    font-size: 16px;
}

div#section2 {
    background-image: url("http://dev.kisekinoashita.org/pic.jpg");
}

div#section2 * {
    color: #fff;
    cursor: default;
}

div#section2 .highlight_link ,div#section2 .fp-controlArrow ,div#section1 .fp-controlArrow {
    cursor: pointer;
}

.background_text_slide3_table {
    display: table;
    width: 100%;
    text-align: center;
}

.align_center {
    text-align: center;
}

.align_left {
    text-align: left;
    display: inline-block;
}

div#background_text_slide3 {
    height: 12rem;
    background-color: rgba(0,0,0,0.5);
    vertical-align: middle;
    display: table-cell;
}

div#section3 {
    background-color: #FFFFFF;
}

div#section3 * {
    text-align: center;
}
#section1 .fp-tableCell {
    /*background-color: rgba(0,0,0,0.3);*/
    background: -moz-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.4) 25%, rgba(0,0,0,0.3) 50%, rgba(0,0,0,0.4) 75%, rgba(0,0,0,0.5) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.5)), color-stop(25%,rgba(0,0,0,0.4)), color-stop(50%,rgba(0,0,0,0.3)), color-stop(75%,rgba(0,0,0,0.4)), color-stop(100%,rgba(0,0,0,0.5))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.4) 25%,rgba(0,0,0,0.3) 50%,rgba(0,0,0,0.4) 75%,rgba(0,0,0,0.5) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.4) 25%,rgba(0,0,0,0.3) 50%,rgba(0,0,0,0.4) 75%,rgba(0,0,0,0.5) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.4) 25%,rgba(0,0,0,0.3) 50%,rgba(0,0,0,0.4) 75%,rgba(0,0,0,0.5) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.4) 25%,rgba(0,0,0,0.3) 50%,rgba(0,0,0,0.4) 75%,rgba(0,0,0,0.5) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */
}
#background_text>h1{
    font-size: 4.5rem;
}

div.footer>h2>a>i {
    margin: 1rem 0.5rem;
}